/**
* @name One Light
* @author Daniel Pfeifer (http://github.com/purpleKarrot)
**/

:root {
    --base00: #fafafa; /* Black */
    --base01: #f0f0f1; /* Bright Black */
    --base02: #e5e5e6; /* Grey */
    --base03: #a0a1a7; /* Brighter Grey */
    --base04: #696c77; /* Bright Grey */
    --base05: #383a42; /* White */
    --base06: #202227; /* Brighter White */
    --base07: #090a0b; /* Bright White */
    --base08: #ca1243; /* Red */
    --base09: #d75f00; /* Orange */
    --base0A: #c18401; /* Yellow */
    --base0B: #50a14f; /* Green */
    --base0C: #0184bc; /* Cyan */
    --base0D: #4078f2; /* Blue */
    --base0E: #a626a4; /* Purple */
    --base0F: #986801; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
