/**
* @name Atelier Estuary Light
* @author Bram de Haan (http://atelierbramdehaan.nl)
**/

:root {
    --base00: #f4f3ec; /* Black */
    --base01: #e7e6df; /* Bright Black */
    --base02: #929181; /* Grey */
    --base03: #878573; /* Brighter Grey */
    --base04: #6c6b5a; /* Bright Grey */
    --base05: #5f5e4e; /* White */
    --base06: #302f27; /* Brighter White */
    --base07: #22221b; /* Bright White */
    --base08: #ba6236; /* Red */
    --base09: #ae7313; /* Orange */
    --base0A: #a5980d; /* Yellow */
    --base0B: #7d9726; /* Green */
    --base0C: #5b9d48; /* Cyan */
    --base0D: #36a166; /* Blue */
    --base0E: #5f9182; /* Purple */
    --base0F: #9d6c7c; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
