/**
* @name standardized-light
* @author ali (https://github.com/ali-githb/base16-standardized-scheme)
**/

:root {
    --base00: #ffffff; /* Black */
    --base01: #eeeeee; /* Bright Black */
    --base02: #cccccc; /* Grey */
    --base03: #767676; /* Brighter Grey */
    --base04: #767676; /* Bright Grey */
    --base05: #444444; /* White */
    --base06: #333333; /* Brighter White */
    --base07: #222222; /* Bright White */
    --base08: #d03e3e; /* Red */
    --base09: #d7691d; /* Orange */
    --base0A: #ad8200; /* Yellow */
    --base0B: #31861f; /* Green */
    --base0C: #00998f; /* Cyan */
    --base0D: #3173c5; /* Blue */
    --base0E: #9e57c2; /* Purple */
    --base0F: #895025; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
