/**
* @name Decaf
* @author Alex Mirrington (https://github.com/alexmirrington)
**/

:root {
    --base00: #2d2d2d; /* Black */
    --base01: #393939; /* Bright Black */
    --base02: #515151; /* Grey */
    --base03: #777777; /* Brighter Grey */
    --base04: #b4b7b4; /* Bright Grey */
    --base05: #cccccc; /* White */
    --base06: #e0e0e0; /* Brighter White */
    --base07: #ffffff; /* Bright White */
    --base08: #ff7f7b; /* Red */
    --base09: #ffbf70; /* Orange */
    --base0A: #ffd67c; /* Yellow */
    --base0B: #beda78; /* Green */
    --base0C: #bed6ff; /* Cyan */
    --base0D: #90bee1; /* Blue */
    --base0E: #efb3f7; /* Purple */
    --base0F: #ff93b3; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
