/**
* @name Catppuccin Macchiato
* @author https://github.com/catppuccin/catppuccin
**/

:root {
    --base00: #24273a; /* Black */
    --base01: #1e2030; /* Bright Black */
    --base02: #363a4f; /* Grey */
    --base03: #494d64; /* Brighter Grey */
    --base04: #5b6078; /* Bright Grey */
    --base05: #cad3f5; /* White */
    --base06: #f4dbd6; /* Brighter White */
    --base07: #b7bdf8; /* Bright White */
    --base08: #ed8796; /* Red */
    --base09: #f5a97f; /* Orange */
    --base0A: #eed49f; /* Yellow */
    --base0B: #a6da95; /* Green */
    --base0C: #8bd5ca; /* Cyan */
    --base0D: #8aadf4; /* Blue */
    --base0E: #c6a0f6; /* Purple */
    --base0F: #f0c6c6; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
