/**
* @name Chalk
* @author Chris Kempson (http://chriskempson.com)
**/

:root {
    --base00: #151515; /* Black */
    --base01: #202020; /* Bright Black */
    --base02: #303030; /* Grey */
    --base03: #505050; /* Brighter Grey */
    --base04: #b0b0b0; /* Bright Grey */
    --base05: #d0d0d0; /* White */
    --base06: #e0e0e0; /* Brighter White */
    --base07: #f5f5f5; /* Bright White */
    --base08: #fb9fb1; /* Red */
    --base09: #eda987; /* Orange */
    --base0A: #ddb26f; /* Yellow */
    --base0B: #acc267; /* Green */
    --base0C: #12cfc0; /* Cyan */
    --base0D: #6fc2ef; /* Blue */
    --base0E: #e1a3ee; /* Purple */
    --base0F: #deaf8f; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
