/**
* @name Windows NT
* @author Fergus Collins (https://github.com/C-Fergus)
**/

:root {
    --base00: #000000; /* Black */
    --base01: #2a2a2a; /* Bright Black */
    --base02: #555555; /* Grey */
    --base03: #808080; /* Brighter Grey */
    --base04: #a1a1a1; /* Bright Grey */
    --base05: #c0c0c0; /* White */
    --base06: #e0e0e0; /* Brighter White */
    --base07: #ffffff; /* Bright White */
    --base08: #ff0000; /* Red */
    --base09: #808000; /* Orange */
    --base0A: #ffff00; /* Yellow */
    --base0B: #00ff00; /* Green */
    --base0C: #00ffff; /* Cyan */
    --base0D: #0000ff; /* Blue */
    --base0E: #ff00ff; /* Purple */
    --base0F: #008000; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
