/**
* @name Katy
* @author George Essig (https://github.com/gessig)
**/

:root {
    --base00: #292d3e; /* Black */
    --base01: #444267; /* Bright Black */
    --base02: #5c598b; /* Grey */
    --base03: #676e95; /* Brighter Grey */
    --base04: #8796b0; /* Bright Grey */
    --base05: #959dcb; /* White */
    --base06: #959dcb; /* Brighter White */
    --base07: #ffffff; /* Bright White */
    --base08: #6e98e1; /* Red */
    --base09: #f78c6c; /* Orange */
    --base0A: #e0a557; /* Yellow */
    --base0B: #78c06e; /* Green */
    --base0C: #83b7e5; /* Cyan */
    --base0D: #82aaff; /* Blue */
    --base0E: #c792ea; /* Purple */
    --base0F: #ff5370; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
