/**
* @name Rosé Pine Dawn
* @author Emilia Dunfelt &lt;edun@dunfelt.se&gt;
**/

:root {
    --base00: #faf4ed; /* Black */
    --base01: #fffaf3; /* Bright Black */
    --base02: #f2e9de; /* Grey */
    --base03: #9893a5; /* Brighter Grey */
    --base04: #797593; /* Bright Grey */
    --base05: #575279; /* White */
    --base06: #575279; /* Brighter White */
    --base07: #cecacd; /* Bright White */
    --base08: #b4637a; /* Red */
    --base09: #ea9d34; /* Orange */
    --base0A: #d7827e; /* Yellow */
    --base0B: #286983; /* Green */
    --base0C: #56949f; /* Cyan */
    --base0D: #907aa9; /* Blue */
    --base0E: #ea9d34; /* Purple */
    --base0F: #cecacd; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
