/**
* @name Solarized Dark
* @author Ethan Schoonover (modified by aramisgithub)
**/

:root {
    --base00: #002b36; /* Black */
    --base01: #073642; /* Bright Black */
    --base02: #586e75; /* Grey */
    --base03: #657b83; /* Brighter Grey */
    --base04: #839496; /* Bright Grey */
    --base05: #93a1a1; /* White */
    --base06: #eee8d5; /* Brighter White */
    --base07: #fdf6e3; /* Bright White */
    --base08: #dc322f; /* Red */
    --base09: #cb4b16; /* Orange */
    --base0A: #b58900; /* Yellow */
    --base0B: #859900; /* Green */
    --base0C: #2aa198; /* Cyan */
    --base0D: #268bd2; /* Blue */
    --base0E: #6c71c4; /* Purple */
    --base0F: #d33682; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
