/**
* @name iA Light
* @author iA Inc. (modified by aramisgithub)
**/

:root {
    --base00: #f6f6f6; /* Black */
    --base01: #dedede; /* Bright Black */
    --base02: #bde5f2; /* Grey */
    --base03: #898989; /* Brighter Grey */
    --base04: #767676; /* Bright Grey */
    --base05: #181818; /* White */
    --base06: #e8e8e8; /* Brighter White */
    --base07: #f8f8f8; /* Bright White */
    --base08: #9c5a02; /* Red */
    --base09: #c43e18; /* Orange */
    --base0A: #c48218; /* Yellow */
    --base0B: #38781c; /* Green */
    --base0C: #2d6bb1; /* Cyan */
    --base0D: #48bac2; /* Blue */
    --base0E: #a94598; /* Purple */
    --base0F: #8b6c37; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
