/**
* @name Material Darker
* @author Nate Peterson
**/

:root {
    --base00: #212121; /* Black */
    --base01: #303030; /* Bright Black */
    --base02: #353535; /* Grey */
    --base03: #4a4a4a; /* Brighter Grey */
    --base04: #b2ccd6; /* Bright Grey */
    --base05: #eeffff; /* White */
    --base06: #eeffff; /* Brighter White */
    --base07: #ffffff; /* Bright White */
    --base08: #f07178; /* Red */
    --base09: #f78c6c; /* Orange */
    --base0A: #ffcb6b; /* Yellow */
    --base0B: #c3e88d; /* Green */
    --base0C: #89ddff; /* Cyan */
    --base0D: #82aaff; /* Blue */
    --base0E: #c792ea; /* Purple */
    --base0F: #ff5370; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
