/**
* @name Tomorrow Night
* @author Chris Kempson (http://chriskempson.com)
**/

:root {
    --base00: #1d1f21; /* Black */
    --base01: #282a2e; /* Bright Black */
    --base02: #373b41; /* Grey */
    --base03: #969896; /* Brighter Grey */
    --base04: #b4b7b4; /* Bright Grey */
    --base05: #c5c8c6; /* White */
    --base06: #e0e0e0; /* Brighter White */
    --base07: #ffffff; /* Bright White */
    --base08: #cc6666; /* Red */
    --base09: #de935f; /* Orange */
    --base0A: #f0c674; /* Yellow */
    --base0B: #b5bd68; /* Green */
    --base0C: #8abeb7; /* Cyan */
    --base0D: #81a2be; /* Blue */
    --base0E: #b294bb; /* Purple */
    --base0F: #a3685a; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
