/**
* @name Grayscale Dark
* @author Alexandre Gavioli (https://github.com/Alexx2/)
**/

:root {
    --base00: #101010; /* Black */
    --base01: #252525; /* Bright Black */
    --base02: #464646; /* Grey */
    --base03: #525252; /* Brighter Grey */
    --base04: #ababab; /* Bright Grey */
    --base05: #b9b9b9; /* White */
    --base06: #e3e3e3; /* Brighter White */
    --base07: #f7f7f7; /* Bright White */
    --base08: #7c7c7c; /* Red */
    --base09: #999999; /* Orange */
    --base0A: #a0a0a0; /* Yellow */
    --base0B: #8e8e8e; /* Green */
    --base0C: #868686; /* Cyan */
    --base0D: #686868; /* Blue */
    --base0E: #747474; /* Purple */
    --base0F: #5e5e5e; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
