/**
* @name DanQing
* @author Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
**/

:root {
    --base00: #2d302f; /* Black */
    --base01: #434846; /* Bright Black */
    --base02: #5a605d; /* Grey */
    --base03: #9da8a3; /* Brighter Grey */
    --base04: #cad8d2; /* Bright Grey */
    --base05: #e0f0ef; /* White */
    --base06: #ecf6f2; /* Brighter White */
    --base07: #fcfefd; /* Bright White */
    --base08: #f9906f; /* Red */
    --base09: #b38a61; /* Orange */
    --base0A: #f0c239; /* Yellow */
    --base0B: #8ab361; /* Green */
    --base0C: #30dff3; /* Cyan */
    --base0D: #b0a4e3; /* Blue */
    --base0E: #cca4e3; /* Purple */
    --base0F: #ca6924; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
