/**
* @name Primer Light
* @author Jimmy Lin
**/

:root {
    --base00: #fafbfc; /* Black */
    --base01: #e1e4e8; /* Bright Black */
    --base02: #d1d5da; /* Grey */
    --base03: #959da5; /* Brighter Grey */
    --base04: #444d56; /* Bright Grey */
    --base05: #2f363d; /* White */
    --base06: #24292e; /* Brighter White */
    --base07: #1b1f23; /* Bright White */
    --base08: #d73a49; /* Red */
    --base09: #f66a0a; /* Orange */
    --base0A: #ffd33d; /* Yellow */
    --base0B: #28a745; /* Green */
    --base0C: #79b8ff; /* Cyan */
    --base0D: #0366d6; /* Blue */
    --base0E: #ea4aaa; /* Purple */
    --base0F: #a04100; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
