/**
* @name Darcula
* @author jetbrains
**/

:root {
    --base00: #2b2b2b; /* Black */
    --base01: #323232; /* Bright Black */
    --base02: #323232; /* Grey */
    --base03: #606366; /* Brighter Grey */
    --base04: #a4a3a3; /* Bright Grey */
    --base05: #a9b7c6; /* White */
    --base06: #ffc66d; /* Brighter White */
    --base07: #ffffff; /* Bright White */
    --base08: #4eade5; /* Red */
    --base09: #689757; /* Orange */
    --base0A: #bbb529; /* Yellow */
    --base0B: #6a8759; /* Green */
    --base0C: #629755; /* Cyan */
    --base0D: #9876aa; /* Blue */
    --base0E: #cc7832; /* Purple */
    --base0F: #808080; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
