/**
* @name Tokyo City Light
* @author Michaël Ball
**/

:root {
    --base00: #fbfbfd; /* Black */
    --base01: #f6f6f8; /* Bright Black */
    --base02: #edeff6; /* Grey */
    --base03: #9699a3; /* Brighter Grey */
    --base04: #4c505e; /* Bright Grey */
    --base05: #343b59; /* White */
    --base06: #1d252c; /* Brighter White */
    --base07: #171d23; /* Bright White */
    --base08: #8c4351; /* Red */
    --base09: #965027; /* Orange */
    --base0A: #4c505e; /* Yellow */
    --base0B: #485e30; /* Green */
    --base0C: #4c505e; /* Cyan */
    --base0D: #34548a; /* Blue */
    --base0E: #5a4a78; /* Purple */
    --base0F: #5a4a78; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
