/**
* @name caroline
* @author ed (https://codeberg.org/ed)
**/

:root {
    --base00: #1c1213; /* Black */
    --base01: #3a2425; /* Bright Black */
    --base02: #563837; /* Grey */
    --base03: #6d4745; /* Brighter Grey */
    --base04: #8b5d57; /* Bright Grey */
    --base05: #a87569; /* White */
    --base06: #c58d7b; /* Brighter White */
    --base07: #e3a68c; /* Bright White */
    --base08: #c24f57; /* Red */
    --base09: #a63650; /* Orange */
    --base0A: #f28171; /* Yellow */
    --base0B: #806c61; /* Green */
    --base0C: #6b6566; /* Cyan */
    --base0D: #684c59; /* Blue */
    --base0E: #a63650; /* Purple */
    --base0F: #893f45; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
