/**
* @name Blue Forest
* @author alonsodomin (https://github.com/alonsodomin)
**/

:root {
    --base00: #141f2e; /* Black */
    --base01: #1e5c1e; /* Bright Black */
    --base02: #273e5c; /* Grey */
    --base03: #a0ffa0; /* Brighter Grey */
    --base04: #1e5c1e; /* Bright Grey */
    --base05: #ffcc33; /* White */
    --base06: #91ccff; /* Brighter White */
    --base07: #375780; /* Bright White */
    --base08: #fffab1; /* Red */
    --base09: #ff8080; /* Orange */
    --base0A: #91ccff; /* Yellow */
    --base0B: #80ff80; /* Green */
    --base0C: #80ff80; /* Cyan */
    --base0D: #a2cff5; /* Blue */
    --base0E: #0099ff; /* Purple */
    --base0F: #e7e7e7; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
