/**
* @name Brogrammer
* @author Vik Ramanujam (http://github.com/piggyslasher)
**/

:root {
    --base00: #1f1f1f; /* Black */
    --base01: #f81118; /* Bright Black */
    --base02: #2dc55e; /* Grey */
    --base03: #ecba0f; /* Brighter Grey */
    --base04: #2a84d2; /* Bright Grey */
    --base05: #4e5ab7; /* White */
    --base06: #1081d6; /* Brighter White */
    --base07: #d6dbe5; /* Bright White */
    --base08: #d6dbe5; /* Red */
    --base09: #de352e; /* Orange */
    --base0A: #1dd361; /* Yellow */
    --base0B: #f3bd09; /* Green */
    --base0C: #1081d6; /* Cyan */
    --base0D: #5350b9; /* Blue */
    --base0E: #0f7ddb; /* Purple */
    --base0F: #ffffff; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
