/**
* @name Harmonic16 Light
* @author Jannik Siebert (https://github.com/janniks)
**/

:root {
    --base00: #f7f9fb; /* Black */
    --base01: #e5ebf1; /* Bright Black */
    --base02: #cbd6e2; /* Grey */
    --base03: #aabcce; /* Brighter Grey */
    --base04: #627e99; /* Bright Grey */
    --base05: #405c79; /* White */
    --base06: #223b54; /* Brighter White */
    --base07: #0b1c2c; /* Bright White */
    --base08: #bf8b56; /* Red */
    --base09: #bfbf56; /* Orange */
    --base0A: #8bbf56; /* Yellow */
    --base0B: #56bf8b; /* Green */
    --base0C: #568bbf; /* Cyan */
    --base0D: #8b56bf; /* Blue */
    --base0E: #bf568b; /* Purple */
    --base0F: #bf5656; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
