/**
* @name Rebecca
* @author Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)
**/

:root {
    --base00: #292a44; /* Black */
    --base01: #663399; /* Bright Black */
    --base02: #383a62; /* Grey */
    --base03: #666699; /* Brighter Grey */
    --base04: #a0a0c5; /* Bright Grey */
    --base05: #f1eff8; /* White */
    --base06: #ccccff; /* Brighter White */
    --base07: #53495d; /* Bright White */
    --base08: #a0a0c5; /* Red */
    --base09: #efe4a1; /* Orange */
    --base0A: #ae81ff; /* Yellow */
    --base0B: #6dfedf; /* Green */
    --base0C: #8eaee0; /* Cyan */
    --base0D: #2de0a7; /* Blue */
    --base0E: #7aa5ff; /* Purple */
    --base0F: #ff79c6; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
