/**
* @name Eighties
* @author Chris Kempson (http://chriskempson.com)
**/

:root {
    --base00: #2d2d2d; /* Black */
    --base01: #393939; /* Bright Black */
    --base02: #515151; /* Grey */
    --base03: #747369; /* Brighter Grey */
    --base04: #a09f93; /* Bright Grey */
    --base05: #d3d0c8; /* White */
    --base06: #e8e6df; /* Brighter White */
    --base07: #f2f0ec; /* Bright White */
    --base08: #f2777a; /* Red */
    --base09: #f99157; /* Orange */
    --base0A: #ffcc66; /* Yellow */
    --base0B: #99cc99; /* Green */
    --base0C: #66cccc; /* Cyan */
    --base0D: #6699cc; /* Blue */
    --base0E: #cc99cc; /* Purple */
    --base0F: #d27b53; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
