/**
* @name dirtysea
* @author Kahlil (Kal) Hodgson
**/

:root {
    --base00: #e0e0e0; /* Black */
    --base01: #d0dad0; /* Bright Black */
    --base02: #d0d0d0; /* Grey */
    --base03: #707070; /* Brighter Grey */
    --base04: #202020; /* Bright Grey */
    --base05: #000000; /* White */
    --base06: #f8f8f8; /* Brighter White */
    --base07: #c4d9c4; /* Bright White */
    --base08: #840000; /* Red */
    --base09: #006565; /* Orange */
    --base0A: #755b00; /* Yellow */
    --base0B: #730073; /* Green */
    --base0C: #755b00; /* Cyan */
    --base0D: #007300; /* Blue */
    --base0E: #000090; /* Purple */
    --base0F: #755b00; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base03);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base03);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
