/**
* @name Tokyo City Terminal Dark
* @author Michaël Ball
**/

:root {
    --base00: #171d23; /* Black */
    --base01: #1d252c; /* Bright Black */
    --base02: #28323a; /* Grey */
    --base03: #526270; /* Brighter Grey */
    --base04: #b7c5d3; /* Bright Grey */
    --base05: #d8e2ec; /* White */
    --base06: #f6f6f8; /* Brighter White */
    --base07: #fbfbfd; /* Bright White */
    --base08: #d95468; /* Red */
    --base09: #ff9e64; /* Orange */
    --base0A: #ebbf83; /* Yellow */
    --base0B: #8bd49c; /* Green */
    --base0C: #70e1e8; /* Cyan */
    --base0D: #539afc; /* Blue */
    --base0E: #b62d65; /* Purple */
    --base0F: #dd9d82; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
