/**
* @name emil
* @author limelier
**/

:root {
    --base00: #efefef; /* Black */
    --base01: #bebed2; /* Bright Black */
    --base02: #9e9eaf; /* Grey */
    --base03: #7c7c98; /* Brighter Grey */
    --base04: #505063; /* Bright Grey */
    --base05: #313145; /* White */
    --base06: #22223a; /* Brighter White */
    --base07: #1a1a2f; /* Bright White */
    --base08: #f43979; /* Red */
    --base09: #d22a8b; /* Orange */
    --base0A: #ff669b; /* Yellow */
    --base0B: #0073a8; /* Green */
    --base0C: #2155d6; /* Cyan */
    --base0D: #471397; /* Blue */
    --base0E: #6916b6; /* Purple */
    --base0F: #8d17a5; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
