/**
* @name Icy Dark
* @author icyphox (https://icyphox.ga)
**/

:root {
    --base00: #021012; /* Black */
    --base01: #031619; /* Bright Black */
    --base02: #041f23; /* Grey */
    --base03: #052e34; /* Brighter Grey */
    --base04: #064048; /* Bright Grey */
    --base05: #095b67; /* White */
    --base06: #0c7c8c; /* Brighter White */
    --base07: #109cb0; /* Bright White */
    --base08: #16c1d9; /* Red */
    --base09: #b3ebf2; /* Orange */
    --base0A: #80deea; /* Yellow */
    --base0B: #4dd0e1; /* Green */
    --base0C: #26c6da; /* Cyan */
    --base0D: #00bcd4; /* Blue */
    --base0E: #00acc1; /* Purple */
    --base0F: #0097a7; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base03);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base03);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
