/**
* @name Atelier Seaside Light
* @author Bram de Haan (http://atelierbramdehaan.nl)
**/

:root {
    --base00: #f4fbf4; /* Black */
    --base01: #cfe8cf; /* Bright Black */
    --base02: #8ca68c; /* Grey */
    --base03: #809980; /* Brighter Grey */
    --base04: #687d68; /* Bright Grey */
    --base05: #5e6e5e; /* White */
    --base06: #242924; /* Brighter White */
    --base07: #131513; /* Bright White */
    --base08: #e6193c; /* Red */
    --base09: #87711d; /* Orange */
    --base0A: #98981b; /* Yellow */
    --base0B: #29a329; /* Green */
    --base0C: #1999b3; /* Cyan */
    --base0D: #3d62f5; /* Blue */
    --base0E: #ad2bee; /* Purple */
    --base0F: #e619c3; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
