/**
* @name selenized-black
* @author Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
**/

:root {
    --base00: #181818; /* Black */
    --base01: #252525; /* Bright Black */
    --base02: #3b3b3b; /* Grey */
    --base03: #777777; /* Brighter Grey */
    --base04: #777777; /* Bright Grey */
    --base05: #b9b9b9; /* White */
    --base06: #dedede; /* Brighter White */
    --base07: #dedede; /* Bright White */
    --base08: #ed4a46; /* Red */
    --base09: #e67f43; /* Orange */
    --base0A: #dbb32d; /* Yellow */
    --base0B: #70b433; /* Green */
    --base0C: #3fc5b7; /* Cyan */
    --base0D: #368aeb; /* Blue */
    --base0E: #a580e2; /* Purple */
    --base0F: #eb6eb7; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
