/**
* @name Ocean
* @author Chris Kempson (http://chriskempson.com)
**/

:root {
    --base00: #2b303b; /* Black */
    --base01: #343d46; /* Bright Black */
    --base02: #4f5b66; /* Grey */
    --base03: #65737e; /* Brighter Grey */
    --base04: #a7adba; /* Bright Grey */
    --base05: #c0c5ce; /* White */
    --base06: #dfe1e8; /* Brighter White */
    --base07: #eff1f5; /* Bright White */
    --base08: #bf616a; /* Red */
    --base09: #d08770; /* Orange */
    --base0A: #ebcb8b; /* Yellow */
    --base0B: #a3be8c; /* Green */
    --base0C: #96b5b4; /* Cyan */
    --base0D: #8fa1b3; /* Blue */
    --base0E: #b48ead; /* Purple */
    --base0F: #ab7967; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base03);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base03);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
