/**
* @name Gruvbox Material Light, Hard
* @author Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
**/

:root {
    --base00: #f9f5d7; /* Black */
    --base01: #fbf1c7; /* Bright Black */
    --base02: #e0cfa9; /* Grey */
    --base03: #a89984; /* Brighter Grey */
    --base04: #c9b99a; /* Bright Grey */
    --base05: #654735; /* White */
    --base06: #3c3836; /* Brighter White */
    --base07: #282828; /* Bright White */
    --base08: #c14a4a; /* Red */
    --base09: #c35e0a; /* Orange */
    --base0A: #b47109; /* Yellow */
    --base0B: #6c782e; /* Green */
    --base0C: #4c7a5d; /* Cyan */
    --base0D: #45707a; /* Blue */
    --base0E: #945e80; /* Purple */
    --base0F: #e78a4e; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
