/**
* @name Codeschool
* @author blockloop
**/

:root {
    --base00: #232c31; /* Black */
    --base01: #1c3657; /* Bright Black */
    --base02: #2a343a; /* Grey */
    --base03: #3f4944; /* Brighter Grey */
    --base04: #84898c; /* Bright Grey */
    --base05: #9ea7a6; /* White */
    --base06: #a7cfa3; /* Brighter White */
    --base07: #b5d8f6; /* Bright White */
    --base08: #2a5491; /* Red */
    --base09: #43820d; /* Orange */
    --base0A: #a03b1e; /* Yellow */
    --base0B: #237986; /* Green */
    --base0C: #b02f30; /* Cyan */
    --base0D: #484d79; /* Blue */
    --base0E: #c59820; /* Purple */
    --base0F: #c98344; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
