/**
* @name PaperColor Dark
* @author Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
**/

:root {
    --base00: #1c1c1c; /* Black */
    --base01: #af005f; /* Bright Black */
    --base02: #5faf00; /* Grey */
    --base03: #d7af5f; /* Brighter Grey */
    --base04: #5fafd7; /* Bright Grey */
    --base05: #808080; /* White */
    --base06: #d7875f; /* Brighter White */
    --base07: #d0d0d0; /* Bright White */
    --base08: #585858; /* Red */
    --base09: #5faf5f; /* Orange */
    --base0A: #afd700; /* Yellow */
    --base0B: #af87d7; /* Green */
    --base0C: #ffaf00; /* Cyan */
    --base0D: #ff5faf; /* Blue */
    --base0E: #00afaf; /* Purple */
    --base0F: #5f8787; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
