/**
* @name Eva Dim
* @author kjakapat (https://github.com/kjakapat)
**/

:root {
    --base00: #2a3b4d; /* Black */
    --base01: #3d566f; /* Bright Black */
    --base02: #4b6988; /* Grey */
    --base03: #55799c; /* Brighter Grey */
    --base04: #7e90a3; /* Bright Grey */
    --base05: #9fa2a6; /* White */
    --base06: #d6d7d9; /* Brighter White */
    --base07: #ffffff; /* Bright White */
    --base08: #c4676c; /* Red */
    --base09: #ff9966; /* Orange */
    --base0A: #cfd05d; /* Yellow */
    --base0B: #5de561; /* Green */
    --base0C: #4b8f77; /* Cyan */
    --base0D: #1ae1dc; /* Blue */
    --base0E: #9c6cd3; /* Purple */
    --base0F: #bb64a9; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base03);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base03);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
