/**
* @name Mountain
* @author gnsfujiwara (https://github.com/gnsfujiwara)
**/

:root {
    --base00: #0f0f0f; /* Black */
    --base01: #191919; /* Bright Black */
    --base02: #262626; /* Grey */
    --base03: #4c4c4c; /* Brighter Grey */
    --base04: #ac8a8c; /* Bright Grey */
    --base05: #cacaca; /* White */
    --base06: #e7e7e7; /* Brighter White */
    --base07: #f0f0f0; /* Bright White */
    --base08: #ac8a8c; /* Red */
    --base09: #ceb188; /* Orange */
    --base0A: #aca98a; /* Yellow */
    --base0B: #8aac8b; /* Green */
    --base0C: #8aabac; /* Cyan */
    --base0D: #8f8aac; /* Blue */
    --base0E: #ac8aac; /* Purple */
    --base0F: #ac8a8c; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
