/**
* @name Gigavolt
* @author Aidan Swope (http://github.com/Whillikers)
**/

:root {
    --base00: #202126; /* Black */
    --base01: #2d303d; /* Bright Black */
    --base02: #5a576e; /* Grey */
    --base03: #a1d2e6; /* Brighter Grey */
    --base04: #cad3ff; /* Bright Grey */
    --base05: #e9e7e1; /* White */
    --base06: #eff0f9; /* Brighter White */
    --base07: #f2fbff; /* Bright White */
    --base08: #ff661a; /* Red */
    --base09: #19f988; /* Orange */
    --base0A: #ffdc2d; /* Yellow */
    --base0B: #f2e6a9; /* Green */
    --base0C: #fb6acb; /* Cyan */
    --base0D: #40bfff; /* Blue */
    --base0E: #ae94f9; /* Purple */
    --base0F: #6187ff; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
