/**
* @name Heetch Dark
* @author Geoffrey Teale (tealeg@gmail.com)
**/

:root {
    --base00: #190134; /* Black */
    --base01: #392551; /* Bright Black */
    --base02: #5a496e; /* Grey */
    --base03: #7b6d8b; /* Brighter Grey */
    --base04: #9c92a8; /* Bright Grey */
    --base05: #bdb6c5; /* White */
    --base06: #dedae2; /* Brighter White */
    --base07: #feffff; /* Bright White */
    --base08: #27d9d5; /* Red */
    --base09: #5ba2b6; /* Orange */
    --base0A: #8f6c97; /* Yellow */
    --base0B: #c33678; /* Green */
    --base0C: #f80059; /* Cyan */
    --base0D: #bd0152; /* Blue */
    --base0E: #82034c; /* Purple */
    --base0F: #470546; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base03);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base03);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
