/**
* @name Gruvbox light, soft
* @author Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
**/

:root {
    --base00: #f2e5bc; /* Black */
    --base01: #ebdbb2; /* Bright Black */
    --base02: #d5c4a1; /* Grey */
    --base03: #bdae93; /* Brighter Grey */
    --base04: #665c54; /* Bright Grey */
    --base05: #504945; /* White */
    --base06: #3c3836; /* Brighter White */
    --base07: #282828; /* Bright White */
    --base08: #9d0006; /* Red */
    --base09: #af3a03; /* Orange */
    --base0A: #b57614; /* Yellow */
    --base0B: #79740e; /* Green */
    --base0C: #427b58; /* Cyan */
    --base0D: #076678; /* Blue */
    --base0E: #8f3f71; /* Purple */
    --base0F: #d65d0e; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base03);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base03);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
