/**
* @name Mellow Purple
* @author gidsi
**/

:root {
    --base00: #1e0528; /* Black */
    --base01: #1a092d; /* Bright Black */
    --base02: #331354; /* Grey */
    --base03: #320f55; /* Brighter Grey */
    --base04: #873582; /* Bright Grey */
    --base05: #ffeeff; /* White */
    --base06: #ffeeff; /* Brighter White */
    --base07: #f8c0ff; /* Bright White */
    --base08: #00d9e9; /* Red */
    --base09: #aa00a3; /* Orange */
    --base0A: #955ae7; /* Yellow */
    --base0B: #05cb0d; /* Green */
    --base0C: #b900b1; /* Cyan */
    --base0D: #550068; /* Blue */
    --base0E: #8991bb; /* Purple */
    --base0F: #4d6fff; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
