/**
* @name Paraiso
* @author Jan T. Sott
**/

:root {
    --base00: #2f1e2e; /* Black */
    --base01: #41323f; /* Bright Black */
    --base02: #4f424c; /* Grey */
    --base03: #776e71; /* Brighter Grey */
    --base04: #8d8687; /* Bright Grey */
    --base05: #a39e9b; /* White */
    --base06: #b9b6b0; /* Brighter White */
    --base07: #e7e9db; /* Bright White */
    --base08: #ef6155; /* Red */
    --base09: #f99b15; /* Orange */
    --base0A: #fec418; /* Yellow */
    --base0B: #48b685; /* Green */
    --base0C: #5bc4bf; /* Cyan */
    --base0D: #06b6ef; /* Blue */
    --base0E: #815ba4; /* Purple */
    --base0F: #e96ba8; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
