/**
* @name Still Alive
* @author Derrick McKee (derrick.mckee@gmail.com)
**/

:root {
    --base00: #f0f0f0; /* Black */
    --base01: #f0d848; /* Bright Black */
    --base02: #fff018; /* Grey */
    --base03: #f01818; /* Brighter Grey */
    --base04: #f00000; /* Bright Grey */
    --base05: #d80000; /* White */
    --base06: #489000; /* Brighter White */
    --base07: #30a860; /* Bright White */
    --base08: #487830; /* Red */
    --base09: #183048; /* Orange */
    --base0A: #426395; /* Yellow */
    --base0B: #5c5c6a; /* Green */
    --base0C: #2c3c57; /* Cyan */
    --base0D: #001878; /* Blue */
    --base0E: #900000; /* Purple */
    --base0F: #140c0d; /* Magenta */
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
