/**
* @name Windows 10 Light
* @author Fergus Collins (https://github.com/C-Fergus)
**/

:root {
    --base00: #f2f2f2; /* Black */
    --base01: #e5e5e5; /* Bright Black */
    --base02: #d9d9d9; /* Grey */
    --base03: #cccccc; /* Brighter Grey */
    --base04: #ababab; /* Bright Grey */
    --base05: #767676; /* White */
    --base06: #414141; /* Brighter White */
    --base07: #0c0c0c; /* Bright White */
    --base08: #c50f1f; /* Red */
    --base09: #f9f1a5; /* Orange */
    --base0A: #c19c00; /* Yellow */
    --base0B: #13a10e; /* Green */
    --base0C: #3a96dd; /* Cyan */
    --base0D: #0037da; /* Blue */
    --base0E: #881798; /* Purple */
    --base0F: #16c60c; /* Magenta */
}

.theme-light, .theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base03);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base03);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
