/**
* @name {{scheme-name}}
* @author {{scheme-author}}
**/

:root {
    --base00: #{{base00-hex}}; /* Black */
    --base01: #{{base01-hex}}; /* Bright Black */
    --base02: #{{base02-hex}}; /* Grey */
    --base03: #{{base03-hex}}; /* Brighter Grey */
    --base04: #{{base04-hex}}; /* Bright Grey */
    --base05: #{{base05-hex}}; /* White */
    --base06: #{{base06-hex}}; /* Brighter White */
    --base07: #{{base07-hex}}; /* Bright White */
    --base08: #{{base08-hex}}; /* Red */
    --base09: #{{base09-hex}}; /* Orange */
    --base0A: #{{base0A-hex}}; /* Yellow */
    --base0B: #{{base0B-hex}}; /* Green */
    --base0C: #{{base0C-hex}}; /* Cyan */
    --base0D: #{{base0D-hex}}; /* Blue */
    --base0E: #{{base0E-hex}}; /* Purple */
    --base0F: #{{base0F-hex}}; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}
